@import './variables.scss';
@import './Home.scss';
@import './About.scss';
@import './Header.scss';
@import './Footer.scss';

body {
    background-color: greenyellow;
    max-width: 1440px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';

    div#root {
        height: 100%;

        header {
            max-width: $maxWidth;
            margin-left: auto;
            margin-right: auto;
        }

        main {
            max-width: $maxWidth;
            min-height: 100vh;
            margin-left: auto;
            margin-right: auto;

            
        }
    }
}

@media screen and (max-width: 748px) {
    body {
        div#root {
            margin-bottom: 209px;
        }
    }
}