.about {
    margin-top: 30px;

    .dropdown-container {
        margin-top: 30px;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 748px) {
    .about {
        .dropdown-container {
            width: 100%;
        }
    }
}