section {
    width: 100%;
    height: 829px;
    border-radius: 25px;
    background-color: $bgCard;
    
    /*h1 {font-size: 50px;
    }
    
    

    div {
        height: 300px;
        width: 80%;
        background-color: cyan;
    }*/
}