// section {
//     width: 100%;
//     height: 829px;
//     border-radius: 25px;
//     background-color: $bgCard;

//     /*h1 {font-size: 50px;
//     }



//     div {
//         height: 300px;
//         width: 80%;
//         background-color: cyan;
//     }*/
// }

.card {
    border-radius: 10px;
    height: 340px;
    width: 340px;
    background: rgba(255, 255, 255, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    align-items: flex-end;
    margin: 2%;
    cursor: pointer;
    text-decoration: none;

    span {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        padding: 20px;
        color: white;
    }
}

@media screen and (max-width: 748px) {
    .card {
        margin: 20px 0 0 0;
        height: 255px;
        width: 100%;
    }
}