.carrousel {
    width: 100%;
    height: 415px;
    border-radius: 25px;
    position: relative;

    .picture {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    .arrow {
        position: absolute;
        z-index: 1;
        top: 40%;
        height: 79px;
        cursor: pointer;

        &.arrow-left {
            left: 3%;
        }

        &.arrow-right {
            right: 3%;
        }
    }

    span {
        position: absolute;
        z-index: 1;
        bottom: 5%;
        left: 50%;
        right: 50%;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        color: white;
    }
}

@media screen and (max-width: 748px) {
    .carrousel {
        height: 255px;

        .arrow {
            height: 19px;
        }

        span {
            display: none;
        }
    }
}