/* header.scss */
header {
  nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;

    img {
      height: 68px;
    }

    ul {
      li {
        text-decoration: none;
        display: inline;

        a {
          height: 68px;
          color: $primary;
          text-decoration: none;
          color: #333;

          &:nth-child(1) {
            margin-left: 20px;

            &.active {
              text-decoration-line: underline;
            }
          }

          &:nth-child(2) {
            margin-right: 20px;

            &.active {
              text-decoration-line: underline;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 748px) {
  header {
    nav {
      img {
        height: 47px;
      }

      ul {
        padding-left: 0;

        li {
          a {
            font-size: 12px;
            padding: 10px 10px;
            text-transform: uppercase;

            &:nth-child(1) {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}