/* header.scss */
header {
  nav {
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    /*line-height: 142.6%;*/

    img {
      height: 68px;
    }

    ul {
      li {
        text-decoration: none;
        display: inline;

       /*  a {
          color: $primary;
          text-decoration: none;
          padding: 20px 20px;
          color: #333;

          &.active {
            text-decoration-line: underline;
          }
        }*/

        a {
          height: 68px;
          color: $primary;
          text-decoration: none;
          color: #333;

          &:nth-child(1) {
            margin-left: 20px;
            
            &.active {
              text-decoration-line: underline;
            }
          }

          &:nth-child(2) {
            margin-right: 20px;
            
            &.active {
              text-decoration-line: underline;
            }
          }
        }
      }
    }
  }
}


@media screen and (max-width: 748px) {
  header {
    nav {
      padding: 20px;

      img {
        height: 47px;
      }

      ul {
        li {
          a {
            font-size: 12px;
            padding: 10px 10px;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}