/* header.scss */

.header {
    background-color: #851a1a;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    width: 210px;
    height: 68px;
    color: #FF6060;
    ;
  }
  
  .navigation {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation li {
    display: inline;
    margin-right: 20px;
  }
  
  .navigation a {
    text-decoration: none;
    color: #333;
  }