@import './variables.scss';
@import './Home.scss';
@import './About.scss';
@import './Header.scss';
@import './Footer.scss';
@import './Banner.scss';
@import './NotFound.scss';
@import './Cards.scss';
@import './Collapse.scss';
@import './Lodging.scss';
@import './Carrousel.scss';
@import './Tags.scss';
@import './Stars.scss';

body {
    max-width: 1440px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    margin-left: auto;
    margin-right: auto;

    div#root {
        margin-top: 50px;
        height: 100%;

        header {
            max-width: $maxWidth;
            margin-left: auto;
            margin-right: auto;
        }

        main {
            max-width: $maxWidth;
            min-height: 100vh;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
        }
    }
}

@media screen and (max-width: 748px) {
    body {
        div#root {
            margin-top: 0;
            margin-bottom: 209px;
        }
    }
}