// .container-lodging {
//     /*box-sizing: border-box;
//     padding: 0px;
//     margin: 0px;*/
//     width: 100%;
//     height: 800px;
//     background-color: rgb(255, 255, 255);
//     display: flex;
//     flex-direction: column;


//     .lodging-carousel {
//         background-color: rgba(232, 9, 9, 0.25);
//         height: 415px;
//         border-radius: 25px;
//         position: relative;
//         width: 100%;

//         img {
//             height: 223px;
//             width: 100%;
//             object-fit: cover;
//             border-radius: 25px;
//             filter: brightness(0.4);
//         }

//         span {
//             position: absolute;
//             top: 34%;
//             left: 21%;

//             color: #FFF;
//             text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//             font-size: 48px;
//             font-style: normal;
//             font-weight: 500;
//             line-height: 142.6%;
//         }
//     }


//         .container-element-1 {
//             width: 100%;
//             height: auto;
//             display: flex;
//             justify-content: space-between;
//             align-items: center;

//                 .lodging-title {
//                     width: fit-content;
//                     height: auto;
//                     margin-top: 20px;
//                     margin-bottom: 20px;
//                     //background-color: blueviolet;
//                     h1 {
//                         color: #FF6060;
//                         font-size: 36px;
//                         font-weight: 500;
//                         line-height: 51.34px;
//                         margin: 0px;
//                         padding: 0px;
//                     }
//                     span {
//                         color: #010101;
//                         font-size: 18px;
//                         font-weight: 500;
//                         line-height: 25.67px;
//                         margin: 0px;
//                     }
//                 }

//                 .lodging-owner {
//                     width: fit-content;
//                     height: auto;
//                     margin-top: 20px;
//                     margin-bottom: 20px;
//                     display: flex;
//                     justify-content: space-between;
//                     align-items: center;
//                     //background-color: rgb(84, 9, 158);

//                     span {
//                         color: #FF6060;
//                         font-size: 18px;
//                         font-weight: 500;
//                         line-height: 25.67px;
//                         margin: 0px;
//                     }
//                     img {
//                         height: 64px;
//                         width: 64px;
//                         object-fit: cover;
//                         border-radius: 50px;
//                         filter: brightness(0.4);
//                     }
//                 }
//         }  

//         .container-element-2 {
//             width: 100%;
//             height: 200px;
//             display: flex;
//             justify-content: space-between;

//                 .lodging-area {
//                     width: 100px;
//                     height: 25px;
//                     background-color: rgb(69, 145, 221);
//                 }

//                 .lodging-stars {
//                     width: 100px;
//                     height: 25px;
//                     background-color: rgb(197, 209, 111);
//                 }
//         }

//         .container-element-3 {
//             width: 100%;
//             height: 200px;
//             display: flex;
//             justify-content: space-between;

//                 .lodging-about-1 {
//                     width: 100px;
//                     height: 25px;
//                     background-color: rgb(184, 198, 212);
//                 }

//                 .lodging-about-2 {
//                     width: 100px;
//                     height: 25px;
//                     background-color: rgb(115, 218, 97);
//                 }
//         }


// }


/*@media screen and (max-width: 748px) {
    .banner {
        padding: 20px;
        height: 111px;

        img {
            height: 111px;
        }

        span {
            top: 27%;
            left: 36px;
            font-size: 24px;
            width: 80%;
        }
    }
}*/

section#lodging {
    margin: 0px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .container {
        display: flex;
        flex-direction: column;

        .header {
            width: 100%;
            display: flex;

            .title {
                width: 50%;

                h1 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 142.6%;
                    color: $primary;
                    margin-bottom: 10px;
                }

                h2 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 142.6%;
                    color: black;
                    margin-top: 0;
                }

                .tags {
                    display: flex;
                }
            }

            .sub-header {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-end;

                .host {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    span {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 142.6%;
                        color: $primary;
                        padding: 10px;
                    }

                    img {
                        width: 64px;
                        height: 64px;
                        border-radius: 32px;
                        margin: 10px;
                    }
                }

                .stars {
                    display: flex;
                }
            }
        }

        .dropdowns {
            margin-top: 30px;
            display: flex;
            justify-content: space-between;

            .dropdown-container {
                width: 48%;
            }
        }
    }
}

@media screen and (max-width: 748px) {
    section#lodging {
        margin-top: 0;
        margin-left: 20px;
        margin-right: 20px;

        .container {
            .header {
                flex-direction: column;

                .title {
                    width: 100%;

                    h1 {
                        font-size: 18px;
                    }

                    h2 {
                        font-size: 14px;
                    }
                }

                .sub-header {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    .host {
                        order: 2;

                        span {
                            font-size: 12px;
                        }

                        img {
                            height: 32px;
                            width: 32px;
                        }
                    }

                    .stars {
                        order: 1;
                    }
                }
            }

            .dropdowns {
                margin-top: 5px;
                flex-direction: column;

                .dropdown-container {
                    width: 100%;
                    margin-top: 10px;
                }
            }
        }
    }
}